/obj	
/libft/obj
/libft/libft.a
frankenshell
.vscode
en.subject.pdf
pseudo_exex.nfs
0000000003c9a2e3000001e1
gmon.out
.VSCodeCounter/
.devcontainer
./obj
hw
iw
out
hwnp
vgcore.8715
minitester
tester/tester1/out_bash